body {
    display: flex;
}


.left {
    padding: 0px 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(77, 76, 99);
} 

.right {
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
}

.photo {
    width: 220px;
    height: 220px;
    padding: 25px;
}

.bearleft {
  border-radius: 50%;  
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}